body,
ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

#root {
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
}

.title {
  text-align: center;
}

.content {
  margin: 0 auto;
  padding: 4px;
  width: 80vw;
  height: 80vh;
  border: 2px dashed #000;
}
